/*Mere generelle og gennemgående stylings*/
body {
    background-size: 100%;
    background-color: #D3C7BB;
    overflow: scroll;
    max-width: 100%;
}

h1 {
    font-size: 115%;
    text-align: center;
    color: #3B3B4A;
    font-family: ultra-regular;
}

h2
{
    font-size: 100%;
    text-align: center;
    color: #3B3B4A;
    font-family: ultra-regular;
}

.redirecttext {
    color: black;
    font-weight: bold;
}

.contentheader {
    font-size: 115%;
    text-align: center;
    color: #3B3B4A;
    font-family: ultra-regular;
    padding-top: 5%;

}

.contenttext {
    width: 100%;

}

.backbutton {
    background-color: #D3C7BB;
    position: absolute;
    text-indent: -15px;
    padding: 5px 0 5px 10px;
    width: 53px;
    overflow: auto;
}




/* navigations linjen */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
/*Navigationstyle fra dans, dans, dans tema (ballet)*/  
  .navigation ul {
    display: flex; 
    list-style: none;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
  
  }
  
  .navigation ul li a {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    color: #3B3B4A;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }   

  .topnav ul {
    flex-direction: column;
    }

.navigation ul li a:hover{
    background-color:#D98841;
}


/*Den øverste grid, der indeholder eget værk + tekst*/
.topgrid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0px;

}

.topgridimage {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    justify-self: center;
    align-self: center;
    
}
  
.logo {
    height: 75%;
    width: 75%;
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding-top: 10%;
    

}
.topgridtext {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: center;
    
}


/*Om mig-sektionen*/
/* Kilde: https://cssgrid-generator.netlify.app/ */
.aboutmegrid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0px;
}

.profileimagegrid {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    align-self: center;
    justify-content: center;
}

.profileimage {
    width: 95%;
    height: 100%;
    border-radius: 8px;
    display: grid;
    justify-self: center;
    align-self: center;
    justify-content: center;
}  
    
.aboutmegrid {
    grid-column: 2;
    grid-row: 1;
}

.aboutmetext {
    font-size: 115%;
    text-align: center;
    color: #3B3B4A;
    font-family: ultra-regular;
    text-decoration: underline;
    padding-top: 5%;
}


.projectheader {
    text-decoration: underline;
    font-weight: bold;
    padding-top: 15%;
}

/*Nehmap sektion*/
.nehmapgrid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.nehmaplogogrid {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    justify-self: center;
    align-self: center;
    
}

.nehmapimage {
    height: 85%;
    width: 60%;
    display: grid;
    justify-self: center;
}

.nehmaptextgrid {
    grid-column:1;
    grid-row: 1;

}

.nehmapdescriptiongrid {
    grid-column: 2;
    grid-row: 2;
}


.bestpitchgrid {
    grid-column: 1;
    grid-row: 2;

}

.pitchimage {
    width: 95%;
    height: 100%;
    border-radius: 8px;
    display: grid;
    justify-self: center;
    align-self: center;
    justify-content: center;
}

/*Zealand ballet sektion*/
.zealandballet-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.zealand1{
    border-style: dotted;
    border-color: black;
    grid-column: 2;
    grid-row: 1;
}

.zealand2 {
    border-style: dotted;
    border-color: black;
    grid-column: 1;
    grid-row: 1;
}

/*Egne værker-sektion på index.html */
.ownworks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }


.mylogogrid {
        grid-column: 1;
        grid-row: 2;
        display: grid;
        justify-self: center;
        align-self: center;
        
    }
    
    
.balletgrid {
        grid-column:1;
        grid-row: 1;
    
    }
    
.testgrid {
        grid-column: 2;
        grid-row: 2;
    }
    
    
.birthdaycardgrid {
        grid-column: 2;
        grid-row: 1;
    
    }


/*aboutme.html-styling*/
.aboutmepageimage {
    height: 25%;
    /* Kilde til centrering: https://www.w3schools.com/howto/howto_css_image_center.asp */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}

.aboutmeheader {
    font-size: 115%;
    text-decoration: underline;
    text-align: center;
    
    
}

/*CV.html-styling, Kilde: https://www.w3docs.com/snippets/html/how-to-embed-pdf-in-html.html */
.CV-background {
        width:90%;
        height: 926px;
        justify-content: center;
        text-align: center;
}


/* Styling af footer/footer fra Dans, dans, dans tema (ballet) -  relativ ny styling og nye ikoner */

footer{
    background-color: #645B53;
    width: 100%;
}

footer p{
    text-align: center; 
    font-size: 15px;
    color: white;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-seri;
    font-size: 14px;


}
footer a{
    text-decoration: none;
    color: white;
}
.socialmedia-icons {
    text-align: center;
    padding: 6px;
}
